Repository kcp-dev/infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-infra-deploy-prow-cluster, post-infra-deploy-build-cluster, pull-infra-validate-prow-jobs

prow/jobs/infra/infra-postsubmits.yaml:

postsubmits:
  kcp-dev/infra:
    - name: post-infra-deploy-prow-cluster
      run_if_changed: "clusters/prow/"
      decorate: true
      cluster: prow
      clone_uri: "ssh://git@github.com/kcp-dev/infra.git"
      labels:
        preset-prow-kubeconfig: "true"
      spec:
        containers:
          - image: quay.io/kubermatic/build:go-1.20-node-18-6
            command:
              - clusters/prow/hack/ci/deploy.sh
            env:
              - name: KUBECONFIG
                value: /etc/prow/kubeconfig/kubeconfig
              - name: KUBE_CONTEXT
                value: prow

    - name: post-infra-deploy-build-cluster
      run_if_changed: "clusters/build/"
      decorate: true
      cluster: prow
      clone_uri: "ssh://git@github.com/kcp-dev/infra.git"
      labels:
        preset-prow-kubeconfig: "true"
      spec:
        containers:
          - image: quay.io/kubermatic/build:go-1.20-node-18-6
            command:
              - clusters/build/hack/ci/deploy.sh
            env:
              - name: KUBECONFIG
                value: /etc/prow/kubeconfig/kubeconfig
              - name: KUBE_CONTEXT
                value: default

prow/jobs/infra/infra-presubmits.yaml:

presubmits:
  kcp-dev/infra:
    - name: pull-infra-validate-prow-yaml
      always_run: true
      decorate: true
      clone_uri: "ssh://git@github.com/kcp-dev/infra.git"
      spec:
        containers:
          - image: gcr.io/k8s-prow/checkconfig:v20230522-3eb206f68f
            command:
              - checkconfig
            args:
              - -plugin-config=/home/prow/go/src/github.com/kcp-dev/infra/prow/plugins.yaml
              - -config-path=/home/prow/go/src/github.com/kcp-dev/infra/prow/config.yaml
              - -job-config-path=/home/prow/go/src/github.com/kcp-dev/infra/prow/jobs
              - -prow-yaml-repo-name=$(REPO_OWNER)/$(REPO_NAME)

    - name: pull-infra-validate-prow-jobs
      decorate: true
      clone_uri: "ssh://git@github.com/kcp-dev/infra.git"
      run_if_changed: "prow/jobs/"
      branches:
        - ^main$
      spec:
        containers:
          - image: gcr.io/k8s-prow/checkconfig:v20230522-3eb206f68f
            command:
              - checkconfig
            args:
              - -plugin-config=/home/prow/go/src/github.com/kcp-dev/infra/prow/plugins.yaml
              - -config-path=/home/prow/go/src/github.com/kcp-dev/infra/prow/config.yaml
              - -job-config-path=/home/prow/go/src/github.com/kcp-dev/infra/prow/jobs
              - -strict

fix missing config_updater plugin for infra repo
  prow/plugins.yaml
Due: none

run postsubmits only on the main branch
  prow/jobs/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

fix initial job-config ConfigMap not fitting config_updater
  clusters/prow/hack/lib.sh
Due: post-infra-deploy-prow-cluster

fix context switching in deployment scripts
  clusters/build/hack/ci/deploy.sh
  clusters/prow/hack/ci/deploy.sh
  hack/lib.sh
Due: post-infra-deploy-prow-cluster, post-infra-deploy-build-cluster

disable crier's slack integration for now
  clusters/prow/manifests/prow/01-crier.yaml
Due: post-infra-deploy-prow-cluster

fix deck-public service
  clusters/prow/manifests/prow/01-deck-public.yaml
Due: post-infra-deploy-prow-cluster

prow: add label_sync config and jobs
  prow/jobs/infra/infra-periodics.yaml
  prow/jobs/infra/infra-presubmits.yaml
  prow/labels.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

prow/config: add branch protection by default to all repos
  prow/config.yaml
Due: none

prow/labels: add pretty colors to dco labels
  prow/labels.yaml
Due: none

Add template files
  CONTRIBUTING.md
  DCO
  README.md
  SECURITY.md
  code-of-conduct.md
Due: none

prow/jobs/infra: fix label-sync jobs
  prow/jobs/infra/infra-periodics.yaml
  prow/jobs/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Fix label-sync jobs
  prow/jobs/infra/infra-periodics.yaml
  prow/jobs/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

add all remaining kcp-dev repositories to prow
  prow/config.yaml
  prow/jobs/apiextensions-apiserver/apiextensions-apiserver-presubmits.yaml
  prow/jobs/apimachinery/apimachinery-presubmits.yaml
  prow/jobs/awesome-kcp/awesome-kcp-presubmits.yaml
  prow/jobs/client-go/client-go-presubmits.yaml
  prow/jobs/code-generator/code-generator-presubmits.yaml
  prow/jobs/controller-runtime-example/controller-runtime-example-presubmits.yaml
  prow/jobs/controller-runtime/controller-runtime-presubmits.yaml
  prow/jobs/enhancements/enhancements-presubmits.yaml
  prow/jobs/friends/friends-presubmits.yaml
  prow/jobs/helm-charts/helm-charts-presubmits.yaml
  prow/jobs/kcp-dev.github.io/kcp-dev.github.io-presubmits.yaml
  prow/jobs/kcp.io/kcp.io-presubmits.yaml
  prow/jobs/kcp/kcp-presubmits.yaml
Due: pull-infra-validate-prow-jobs

add ghcr.io/kcp-dev/infra/build image and GitHub action to build it
  .github/workflows/build-image.yaml
  images/build/Dockerfile
Due: none

Apply suggestions from code review
  .github/workflows/build-image.yaml
  images/build/Dockerfile
Due: none

fix K8S_VERSION build argument scope
  images/build/Dockerfile
Due: none

properly configure OAuth for Deck
  clusters/prow/manifests/prow/01-deck.yaml
Due: post-infra-deploy-prow-cluster

do not run GitHub Action on PRs
  .github/workflows/build-image.yaml
Due: none

correct format of build args passed to GitHub Actions
  .github/workflows/build-image.yaml
Due: none

install jq in build image, move variables into dedicated env file
  .github/workflows/build-image.yaml
  images/build/Dockerfile
  images/build/env
Due: none

re-add removed image variable
  .github/workflows/build-image.yaml
Due: none

bring back full tag input for docker metadata
  .github/workflows/build-image.yaml
Due: none

change owner file names for kcp-dev/controller-runtime
  prow/plugins.yaml
Due: none

add qemu DaemonSet to allow multiarch Docker image building
  clusters/build/hack/ci/deploy.sh
  clusters/build/manifests/multiarch-deps-installer.yaml
Due: post-infra-deploy-build-cluster

add preset-ghcr-credentials Prow preset
  prow/config.yaml
Due: none

add post-kcp-publish-image job
  prow/jobs/kcp/kcp-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

add kcp-dev/logicalcluster to Prow
  prow/config.yaml
  prow/jobs/edge-mc/edge-mc-presubmits.yaml
Due: pull-infra-validate-prow-jobs

reduce build cluster size to save money
  clusters/build/manifests/machinedeployment-worker.yaml
Due: post-infra-deploy-build-cluster

Move builds for ghcr.io/kcp-dev/infra/build to prow
  .github/workflows/build-image.yaml
  images/build/env
  images/build/hack/build-image.sh
  prow/jobs/infra/infra-postsubmits.yaml
  prow/jobs/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

move prowjobs to a dedicated directory per org
  prow/jobs/kcp-dev/apiextensions-apiserver/apiextensions-apiserver-presubmits.yaml
  prow/jobs/kcp-dev/apimachinery/apimachinery-presubmits.yaml
  prow/jobs/kcp-dev/awesome-kcp/awesome-kcp-presubmits.yaml
  prow/jobs/kcp-dev/client-go/client-go-presubmits.yaml
  prow/jobs/kcp-dev/code-generator/code-generator-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime-example/controller-runtime-example-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime/controller-runtime-presubmits.yaml
  prow/jobs/kcp-dev/edge-mc/edge-mc-presubmits.yaml
  prow/jobs/kcp-dev/enhancements/enhancements-presubmits.yaml
  prow/jobs/kcp-dev/friends/friends-presubmits.yaml
  prow/jobs/kcp-dev/helm-charts/helm-charts-presubmits.yaml
  prow/jobs/kcp-dev/infra/infra-periodics.yaml
  prow/jobs/kcp-dev/infra/infra-postsubmits.yaml
  prow/jobs/kcp-dev/infra/infra-presubmits.yaml
  prow/jobs/kcp-dev/kcp-dev.github.io/kcp-dev.github.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp.io/kcp.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp/kcp-postsubmits.yaml
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
  prow/jobs/kcp-dev/logicalcluster/logicalcluster-presubmits.yaml
Due: pull-infra-validate-prow-jobs

prepare job-config script for the new org level
  clusters/prow/hack/lib.sh
Due: post-infra-deploy-prow-cluster

extend readme
  README.md
Due: none

include kind and docker in build image
  images/build/Dockerfile
  images/build/env
  images/build/hack/build-image.sh
  images/build/start-docker.sh
Due: none

add a README.md for images/build
  images/build/README.md
Due: none

update comment in env file
  images/build/env
Due: none

update kcp build image to Go 1.20.5
  images/build/README.md
  images/build/env
Due: none

migrate edge-mc to kubestellar
  README.md
  prow/config.yaml
  prow/jobs/kubestellar/kubestellar/kubestellar-presubmits.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

:sparkles: Update README.md
  README.md
Due: none
