Repository kcp-dev/infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-infra-deploy-prow-cluster, post-infra-deploy-build-cluster, post-infra-publish-images-build, pull-infra-validate-prow-jobs, pull-infra-prow-labelsync

post-infra-deploy-prow-cluster:
  decorate: true
  labels:
    preset-prow-kubeconfig: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.20-node-18-6
      command:
      - clusters/prow/hack/ci/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/prow/kubeconfig/kubeconfig
      - name: KUBE_CONTEXT
        value: prow

post-infra-deploy-build-cluster:
  decorate: true
  labels:
    preset-prow-kubeconfig: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.20-node-18-6
      command:
      - clusters/build/hack/ci/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/prow/kubeconfig/kubeconfig
      - name: KUBE_CONTEXT
  ...

post-infra-publish-images-build:
  decorate: true
  labels:
    preset-ghcr-credentials: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.30.0
      command:
      - images/build/hack/build-image.sh
      securityContext:
        privileged: true
      resources:
        requests:
          cpu: 2
          memory: 3Gi

pull-infra-validate-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230522-3eb206f68f
      command:
      - checkconfig
      args:
      - -plugin-config=/home/prow/go/src/github.com/kcp-dev/infra/prow/plugins.yaml
      - -config-path=/home/prow/go/src/github.com/kcp-dev/infra/prow/config.yaml
  ...

pull-infra-prow-labelsync:
  labels:
    app: label-sync
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20230523-2834e18241
      command:
      - label_sync
      args:
      - --config=/home/prow/go/src/github.com/kcp-dev/infra/prow/labels.yaml
      - --orgs=kcp-dev
      - --token=/etc/oauth-token/secret
  ...

:sparkles: Update kubestellar-presubmits.yaml
  prow/jobs/kubestellar/kubestellar/kubestellar-presubmits.yaml
Due: pull-infra-validate-prow-jobs

prow: enable transfer-issue plugin for kcp-dev org
  prow/plugins.yaml
Due: none

update kcp build image to Go 1.20.5
  images/build/README.md
  images/build/env
Due: post-infra-publish-images-build

bump to Go 1.20.6 (for Kubernetes 1.27)
  images/build/env
  images/build/hack/build-image.sh
Due: post-infra-publish-images-build

Update build image to Go 1.20, Kubernetes 1.28, kind 0.20
  images/build/env
Due: post-infra-publish-images-build

Use Kubernetes 1.28.0, the kindest/node image for 1.28.1 is not up (yet?)
  images/build/env
Due: post-infra-publish-images-build

Remove usage of '--short' flag for kubectl
  images/build/Dockerfile
Due: none

add Helm to build image
  images/build/Dockerfile
  images/build/env
  images/build/hack/build-image.sh
Due: post-infra-publish-images-build

bump Prow to v20230919-a4926a4d02
  clusters/prow/hack/update-prow.sh
  clusters/prow/manifests/prow/01-cherrypicker.yaml
  clusters/prow/manifests/prow/01-crier.yaml
  clusters/prow/manifests/prow/01-deck-public.yaml
  clusters/prow/manifests/prow/01-deck.yaml
  clusters/prow/manifests/prow/01-gcsweb-public.yaml
  clusters/prow/manifests/prow/01-gcsweb.yaml
  clusters/prow/manifests/prow/01-ghproxy.yaml
  clusters/prow/manifests/prow/01-hook.yaml
  clusters/prow/manifests/prow/01-horologium.yaml
  clusters/prow/manifests/prow/01-needs-rebase.yaml
  clusters/prow/manifests/prow/01-prow-controller-manager.yaml
  clusters/prow/manifests/prow/01-sinker.yaml
  clusters/prow/manifests/prow/01-statusreconciler.yaml
  clusters/prow/manifests/prow/01-tide.yaml
  clusters/prow/manifests/prowjob-crd.yaml
  prow/jobs/kcp-dev/apiextensions-apiserver/apiextensions-apiserver-presubmits.yaml
  prow/jobs/kcp-dev/apimachinery/apimachinery-presubmits.yaml
  prow/jobs/kcp-dev/awesome-kcp/awesome-kcp-presubmits.yaml
  prow/jobs/kcp-dev/client-go/client-go-presubmits.yaml
  prow/jobs/kcp-dev/code-generator/code-generator-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime-example/controller-runtime-example-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime/controller-runtime-presubmits.yaml
  prow/jobs/kcp-dev/enhancements/enhancements-presubmits.yaml
  prow/jobs/kcp-dev/friends/friends-presubmits.yaml
  prow/jobs/kcp-dev/helm-charts/helm-charts-presubmits.yaml
  prow/jobs/kcp-dev/infra/infra-presubmits.yaml
  prow/jobs/kcp-dev/kcp-dev.github.io/kcp-dev.github.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp.io/kcp.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
  prow/jobs/kcp-dev/logicalcluster/logicalcluster-presubmits.yaml
  prow/jobs/kubestellar/kubestellar/kubestellar-presubmits.yaml
Due: post-infra-deploy-prow-cluster, pull-infra-validate-prow-jobs

update to Go 1.20.9
  images/build/env
Due: post-infra-publish-images-build

add kubeconform to build image
  images/build/Dockerfile
  images/build/README.md
  images/build/env
Due: post-infra-publish-images-build

pass missing KUBECONFORM_VERSION build arg
  images/build/hack/build-image.sh
Due: none

attempt to correctly extract binary from archive
  images/build/Dockerfile
Due: none

correctly copy kubeconform binary into final build image stage
  images/build/Dockerfile
  images/build/env
Due: post-infra-publish-images-build

Bump build image to 1.20.13-1, updating Go to 1.20.13
  images/build/env
Due: post-infra-publish-images-build

Bump to Go 1.21.8
  images/build/env
Due: post-infra-publish-images-build

add areas labels
  prow/labels.yaml
Due: pull-infra-prow-labelsync

make colors same
  prow/labels.yaml
Due: pull-infra-prow-labelsync

define periodics to implement issue lifecycle
  hack/ci/github-decay-issues.sh
  prow/jobs/kcp-dev/infra/infra-periodics-lifecycle.yaml
Due: pull-infra-validate-prow-jobs

initial commit for iac/oci-prow-worker
  iac/oci-prow-worker/.gitignore
  iac/oci-prow-worker/.terraform.lock.hcl
  iac/oci-prow-worker/Makefile
  iac/oci-prow-worker/README.md
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/provider.tf
  iac/oci-prow-worker/variables.tf
Due: none

Use oracle/oci provider
  iac/oci-prow-worker/.terraform.lock.hcl
  iac/oci-prow-worker/terraform.tf
Due: none

Add some networking primitives
  iac/oci-prow-worker/.terraform.lock.hcl
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/network.tf
  iac/oci-prow-worker/provider.tf
  iac/oci-prow-worker/terraform.tf
  iac/oci-prow-worker/variables.tf
Due: none

bump golang to 1.22.2
  images/build/env
Due: post-infra-publish-images-build

Produce working tofu plan output
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/network.tf
  iac/oci-prow-worker/provider.tf
  iac/oci-prow-worker/terraform.tf
  iac/oci-prow-worker/variables.tf
Due: none

Add state backend in OCI bucket
  iac/oci-prow-worker/.gitignore
  iac/oci-prow-worker/Makefile
  iac/oci-prow-worker/README.md
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/terraform.tf
  iac/oci-prow-worker/variables.tf
Due: none

add generic-controlplane
  prow/config.yaml
  prow/jobs/kcp-dev/generic-controlplane/gcp-postsubmits.yaml
  prow/jobs/kcp-dev/generic-controlplane/gcp-presubmits.yaml
Due: pull-infra-validate-prow-jobs

add missing plugin
  prow/plugins.yaml
Due: none

fix: register gcp postsubmits to correct repository
  prow/jobs/kcp-dev/generic-controlplane/gcp-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

nits
  iac/oci-prow-worker/README.md
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/provider.tf
  iac/oci-prow-worker/variables.tf
Due: none

Run tofu fmt
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/variables.tf
Due: none

Update provider oci to version 6.2.0
  iac/oci-prow-worker/.terraform.lock.hcl
  iac/oci-prow-worker/terraform.tf
Due: none

Add .env.example file
  iac/oci-prow-worker/.env.example
  iac/oci-prow-worker/README.md
Due: none

Migrate cluster to use VCN native mode
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/network.tf
  iac/oci-prow-worker/outputs.tf
Due: none

images/build: bump to Go 1.22.5, Kubernetes 1.30 and latest tools
  images/build/env
Due: post-infra-publish-images-build

images/build: start building arm64 images
  images/build/hack/build-image.sh
Due: none

bump golang to 1.22.7
  images/build/env
Due: post-infra-publish-images-build

add kcp-dev/kcp-operator to Prow
  images/build/README.md
  prow/config.yaml
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-presubmits.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

Update kcp-dev/kcp-operator prow config to use correct job name
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Update build image to Go 1.22.9
  images/build/env
Due: post-infra-publish-images-build

images/build: bump Helm to v1.16.3
  images/build/env
Due: post-infra-publish-images-build

Path conditions:
  post-infra-deploy-prow-cluster: any of: clusters/prow/
  post-infra-deploy-build-cluster: any of: clusters/build/
  post-infra-publish-images-build: any of: ^images/build/env$
  pull-infra-validate-prow-jobs: any of: prow/jobs/
  pull-infra-prow-labelsync: any of: ^prow/labels.yaml$
