Repository kcp-dev/infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-infra-deploy-prow-cluster, post-infra-deploy-build-cluster, post-infra-publish-images-build, pull-infra-validate-prow-jobs, pull-infra-prow-labelsync, pull-infra-images-build

Path conditions:
  post-infra-deploy-prow-cluster: any of: clusters/prow/
  post-infra-deploy-build-cluster: any of: clusters/build/
  post-infra-publish-images-build: any of: ^images/build/env$
  pull-infra-validate-prow-jobs: any of: prow/jobs/
  pull-infra-prow-labelsync: any of: ^prow/labels.yaml$
  pull-infra-images-build: any of: ^images/build/env$

images/build: Pass --platform in an attempt to fix Dockerfile
  images/build/Dockerfile
Due: none

Update build image to Go 1.22.10
  images/build/env
Due: post-infra-publish-images-build, pull-infra-images-build

Updated golang to 1.23.4
  images/build/env
Due: post-infra-publish-images-build, pull-infra-images-build

add image build job to pre-commit
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
Due: pull-infra-validate-prow-jobs

disable not to run always
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
Due: pull-infra-validate-prow-jobs

add rerun
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
Due: pull-infra-validate-prow-jobs

add buildah to build image
  images/build/Dockerfile
  images/build/env
Due: post-infra-publish-images-build, pull-infra-images-build

separate kubectl and kindest versions in build image
  images/build/Dockerfile
  images/build/env
  images/build/hack/build-image.sh
Due: post-infra-publish-images-build, pull-infra-images-build

add api-syncagent
  prow/config.yaml
  prow/jobs/kcp-dev/api-syncagent/api-syncagent-presubmits.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

add postsubmit for api-syncagent to produce container images
  prow/jobs/kcp-dev/api-syncagent/api-syncagent-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

Add postsubmit job for kcp-operator to start building images
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

Update build image to Go 1.23.5
  images/build/README.md
  images/build/env
Due: post-infra-publish-images-build, pull-infra-images-build

prow: enable gcsweb
  prow/config.yaml
Due: none

Update gcsweb configuration to use s3 correctly
  clusters/prow/manifests/prow/01-gcsweb-public.yaml
  clusters/prow/manifests/prow/01-gcsweb.yaml
  prow/config.yaml
Due: post-infra-deploy-prow-cluster

Upgrade MachineDeployments to Kubernetes 1.29.4
  clusters/prow/manifests/machinedeployment-stable.yaml
  clusters/prow/manifests/machinedeployment-worker.yaml
Due: post-infra-deploy-prow-cluster

add github.com/kcp-dev/multicluster-provider to Prow
  prow/config.yaml
  prow/plugins.yaml
Due: none

Bump build image to Go 1.23.7
  images/build/env
Due: post-infra-publish-images-build, pull-infra-images-build

add branchprotector cronjob
  clusters/prow/manifests/prow/01-branchprotector.yaml
Due: post-infra-deploy-prow-cluster

update build image for Go 1.24.1, kind 0.27, Docker 27.3
  .gitignore
  images/build/Dockerfile
  images/build/env
Due: post-infra-publish-images-build, pull-infra-images-build

split Dockerfiles for Go 1.23/1.24
  images/build/go-1.23/Dockerfile
  images/build/go-1.23/env
  images/build/go-1.23/start-docker.sh
  images/build/go-1.24/Dockerfile
  images/build/go-1.24/env
  images/build/go-1.24/start-docker.sh
  images/build/hack/build-image.sh
  prow/jobs/kcp-dev/infra/infra-postsubmits.yaml
  prow/jobs/kcp-dev/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

move dry-run image jobs to a .prow.yaml to immediately apply my changes
  .prow.yaml
  images/build/hack/build-image.sh
  prow/jobs/kcp-dev/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

upgrade buildah because 1.39 is broken
  .prow.yaml
  prow/jobs/kcp-dev/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

Protect release branches in kcp-dev org
  prow/config.yaml
Due: none

Configure requirement for kind labels to be on PRs
  prow/config.yaml
  prow/labels.yaml
  prow/plugins.yaml
Due: pull-infra-prow-labelsync

Sync labels only on projects known to be configured for kcp-ci-bot
  prow/jobs/kcp-dev/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

initial commit for iac/oci-prow-worker
  iac/oci-prow-worker/.env.example
  iac/oci-prow-worker/.gitignore
  iac/oci-prow-worker/.terraform.lock.hcl
  iac/oci-prow-worker/Makefile
  iac/oci-prow-worker/README.md
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/network.tf
  iac/oci-prow-worker/outputs.tf
  iac/oci-prow-worker/provider.tf
  iac/oci-prow-worker/terraform.tf
  iac/oci-prow-worker/variables.tf
Due: none

Don't set --orgs on label-sync job
  prow/jobs/kcp-dev/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

Add presubmit job to kcp-dev/kcp to test OCI worker cluster
  prow/jobs/kcp-dev/kcp/kcp-presubmits-oci.yaml
Due: pull-infra-validate-prow-jobs

Add security rule for kubelet API access from control plane
  iac/oci-prow-worker/network.tf
Due: none

Make docker registry environment variable in Prow optional
  prow/config.yaml
Due: none

Use TARGETPLATFORM, not current platform
  images/build/go-1.23/Dockerfile
  images/build/go-1.23/env
Due: none

Also update 1.24 build image and bump OCI test job
  images/build/go-1.24/Dockerfile
  images/build/go-1.24/env
  prow/jobs/kcp-dev/kcp/kcp-presubmits-oci.yaml
Due: pull-infra-validate-prow-jobs

Only protect branches of repositories managed by prow
  prow/config.yaml
Due: none

Fix typo in kcp-dev branch protection, remove kubestellar
  prow/config.yaml
Due: none

Fix repository name for kcp-dev/apimachinery branch protection
  prow/config.yaml
Due: none

Configure branch protection for "kcp-" branches on some repositories
  prow/config.yaml
Due: none

Remove kubestellar configuration from repository
  README.md
  prow/config.yaml
  prow/jobs/kubestellar/kubestellar/kubestellar-presubmits.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

remove kubestellar
  README.md
  prow/config.yaml
  prow/jobs/kubestellar/kubestellar/kubestellar-presubmits.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

Remove branch protection config for kcp-dev/kubernetes
  prow/config.yaml
Due: none

Run validate jobs on 'prow' cluster to avoid missing ARM64 image
  prow/jobs/kcp-dev/api-syncagent/api-syncagent-presubmits.yaml
  prow/jobs/kcp-dev/apiextensions-apiserver/apiextensions-apiserver-presubmits.yaml
  prow/jobs/kcp-dev/apimachinery/apimachinery-presubmits.yaml
  prow/jobs/kcp-dev/awesome-kcp/awesome-kcp-presubmits.yaml
  prow/jobs/kcp-dev/client-go/client-go-presubmits.yaml
  prow/jobs/kcp-dev/code-generator/code-generator-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime-example/controller-runtime-example-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime/controller-runtime-presubmits.yaml
  prow/jobs/kcp-dev/enhancements/enhancements-presubmits.yaml
  prow/jobs/kcp-dev/friends/friends-presubmits.yaml
  prow/jobs/kcp-dev/generic-controlplane/gcp-presubmits.yaml
  prow/jobs/kcp-dev/helm-charts/helm-charts-presubmits.yaml
  prow/jobs/kcp-dev/infra/infra-presubmits.yaml
  prow/jobs/kcp-dev/kcp-dev.github.io/kcp-dev.github.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-presubmits.yaml
  prow/jobs/kcp-dev/kcp.io/kcp.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp/kcp-presubmits-oci.yaml
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
  prow/jobs/kcp-dev/logicalcluster/logicalcluster-presubmits.yaml
Due: pull-infra-validate-prow-jobs
